
@{
    ViewData["Title"] = "ArtistsSongs";
}
<div class="row">
    <div class="col-6 w-100">

        <h3 class=" text-secondary">Songs:</h3>
        @foreach (var i in ViewBag.Songs)
        {
            <div class="d-flex align-items-center justify-content-between bg-gray ">
                <div class="d-flex align-items-center justify-content-between w-100">
                    <span class="fw-bold ">@i.Artists - @i.SongName</span>

                    <div class="d-flex align-items-center justify-content-between ">

                        <audio controls class="align-self-end">
                            <source src="@i.Path" type="audio/mpeg">
                        </audio>

                    </div>
                </div>

            </div>


        }
    </div>
    <div class="col-5 w-100">
        <h3 class=" text-secondary">Albums</h3>

        @foreach (var i in ViewBag.Albums)
        {
            <div class="d-flex align-items-center justify-content-between bg-gray ">
                <div class="d-flex align-items-center justify-content-between w-100">
                    <span class=" h4 fw-bold ">@i</span>
                </div>
            </div>
        }
    </div>
</div>

